
.admin_main_container{
    width: 100%;
    height: calc(100vh - 80px);
    background: lightyellow;
    position: relative;
}

.admin_results{
    width: 40%;
    min-height: 50px;
    background: #ddd;
    position: absolute;
    left: 30%;
    top: 150px;
}


